@model JeffreyJacaEnterpriseAssignment1.Models.Request
@{
    Layout = "_BasicLayout";
    ViewBag.title = "Confirmation";
}

    
        <div>
            <p>Your request has been made and a member from our IT deparment will contact you shortly.<br />
               Your request reference Id # is: @Model.Id
            </p>
        </div>
    