@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_BasicLayout";
    ViewBag.title = "Home Page";
}

<body>
    <h1>FAST Equipment Tool</h1>
    <p>The purpose of this page is to allow FAST students and professors to request to borrow IT equipment.<br />
       The home page includes links to the listing of all different equipment and equipment that is currently available <br />
       and a link to a request form that can be filled out to request a specific piece of equipment.
    </p>
</body>
