@model JeffreyJacaEnterpriseAssignment1.Models.Request

@{
    Layout = "_BasicLayout";
    ViewBag.title = "Equipment Request";
}

        <h1>Equipment Request</h1>
        <div>
            <form asp-action="RequestForm" method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="Name">Name: </label>
                    <input class="form-control" asp-for="Name" />
                </div>
                <div class="form-group">
                    <label asp-for="Email">Email: </label>
                    <input class="form-control" asp-for="Email"/>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber">Phone Number: </label>
                    <input class="form-control" asp-for="PhoneNumber" />
                </div>
                <div class="form-group">
                    <label asp-for="Role">Role: </label>
                    <select asp-for="Role">
                        <option value="Student">Student</option>
                        <option value="Professor">Professor</option>
                    </select>
                </div>
                <div class="form-group">
                    <select asp-for="EquipmentType" asp-items="Html.GetEnumSelectList<JeffreyJacaEnterpriseAssignment1.Models.EquipmentType>()">
                        <option selected="selected">Please select the device type</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Details">Details</label>
                    <input class="form-control" asp-for="Details" />
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">
                        Submit Request
                    </button>
                </div>
            </form>
        </div>
    