<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        <a asp-action="Index">Home</a> | <a asp-action="AllEquipment">All Equipment Listing</a> | <a asp-action="AvailableEquipment">Available Equipment</a> | <a asp-action="RequestForm">Request Form</a>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
