<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <a asp-action="Index">Home</a> | <a asp-action="#">All Equipment Listing</a> | <a asp-action="#">Available Equipment</a> | <a asp-action="RequestForm">Request Form</a>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
